.heading{
  color:rgb(232, 236, 215);
  text-align: center;
}
.mosque-name {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.waytomosque{
  font-size: 30px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: rgb(136, 206, 90);
  font-weight: 700;
  border-radius: 20px;
}
/* Image section */
.mosque-image {
  margin-bottom: 20px;
  text-align: center;
}

.mosque-image img {
  width: 90%;
  margin-right: 30px;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

/* Prayer timings */
.timings {
  margin-top: 100px;
  background-color:rgb(31, 69, 41);
  color: rgb(234, 223, 205);
}

.timings .p1{
  margin-top: 30px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.timings p {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Capacity text */
.mosque-capacity {
  font-size: 1.1rem;
  margin-top: 15px;
}

.mosque-address{
  color: white;
}

/* Active Status */
.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

/* Loading and Error Messages */
.mosque-loading img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.mosque-error-message,
.mosque-no-data-message {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

/* Media Query for Responsiveness */

/* Mobile View */
@media (max-width: 768px) {
  .mosque-detail-container {
    padding: 15px;
  }

  .mosque-name {
    font-size: 1.8rem;
  }

  .mosque-image img {
    max-width: 100%;
  }

  .timings p,
  .mosque-details p {
    font-size:rem;
  }

  .mosque-details h2 {
    font-size: 1.3rem;
  }

  .mosque-capacity {
    font-size: 1rem;
  }

  .mosque-details p {
    margin: 10px 0;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  .mosque-detail-container {
    padding: 20px;
  }

  .mosque-name {
    font-size: 2rem;
  }

  .mosque-image img {
    max-width: 500px;
  }

  .timings p {
    font-size: 1rem;
  }

  .mosque-capacity {
    font-size: 1.1rem;
  }

  .mosque-details h2 {
    font-size: 1.5rem;
  }

  .mosque-details p {
    font-size: 1rem;
  }
}
